{% extends 'layout.html.twig' %}

{% block content %}
<div class="card m-auto">
    <div class="card-body">
        <h5 class="card-title">{{ orderDetail.name }}</h5>
        <p class="card-text">Quantity : {{orderDetail.quantity}}</p>
        <p class="card-text">Total : {{orderDetail.total}}</p>
        <p class="card-text">Order : {{orderDetail.order_reference}}</p>
        <p class="card-text">Order : {{orderDetail.order_orderDate}}</p>
        <p class="card-text">Refuge : {{orderDetail.refuge_name}}</p>
        <p class="card-text">Tattoo : {{orderDetail.tattoo}}</p>
        <p class="card-text">Vaccined : {{orderDetail.is_vaccined ? 'Yes' : 'No'}}</p>
        <p class="card-text">Sterilized : {{orderDetail.is_sterilized ? 'Yes' : 'No'}}</p>
        <p class="card-text">Adopted : {{orderDetail.adopted_on ? 'Yes' : 'No'}}</p>
    </div>
    <div class="card-footer text-center">
        <a href="/orderDetail/show/{{ orderDetail.id }}" class="btn btn-sm btn-success my-2"><i class="fas fa-eye"></i></a>
        <a href="/orderDetail/edit/{{ orderDetail.id }}" class="btn btn-sm btn-warning my-2"><i class="fas fa-edit"></i></a>
        <a href="/orderDetail/delete/{{ orderDetail.id }}" class="btn btn-sm btn-danger my-2"><i class="fas fa-trash"></i></a>
    </div>
</div>

{% endblock %}